.container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  gap: 4rem;
  position: relative;
  height: calc(100% - 2.5rem);
}

.animatedGif {
  bottom: 0;
  position: absolute;
  background: var(--color--main-yellow-01);
  background-image: url("ryou.gif");
  height: 20rem;
  width: 30rem;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  z-index: -1;
}

.png {
  top: 0;
  right: 0;
  position: absolute;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  background-image: url("ryou.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.headerContainer {
  font-size: 1.8rem;
}

.header {
  font-weight: 700;
  color: var(--color--main-yellow-01);
}

.title {
  color: #000;
  font-weight: 700;
}

.userField {
  align-self: center;
  justify-self: center;
}
