.button {
  padding: 1.5rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--color--main-yellow-01);
  border-radius: 5rem;
  text-transform: uppercase;
  transition: background-color 0.1s ease-in;
}

.button:hover {
  background-color: #f58200;
  cursor: pointer;
}

.button:active {
  background-color: #d47100;
  transform: translate3d(0, 2px, 0);
}

.link {
  text-decoration: none;
}
