.item {
  position: relative;
  display: grid;
  grid-template-columns: 18rem 1fr;
  padding: 0 1rem;
}

.imgContainer {
  height: 16rem;
  width: 16rem;
}

.table {
  text-align: left;
  max-width: 90rem;
  min-width: 40rem;
}

.table th {
  width: 15rem;
}

.button {
  position: absolute;
  padding: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 1.5rem;
  right: 2rem;
}

.soldOut {
  filter: grayscale(100%);
}

@media (max-width: 1296px) {
  .item {
    grid-template-columns: 22rem 1fr;
    font-size: 2.3rem;
  }

  .imgContainer {
    height: 20rem;
    width: 20rem;
  }
  .button {
    font-size: 2rem;
  }

  .table {
    text-align: left;
    max-width: 90rem;
    min-width: 50rem;
  }

  .table th {
    width: 18rem;
  }
}
