.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.mainContent {
  background-color: #e2e2e2;
  overflow: auto;
  position: relative;
  padding: 2.5rem 0;
}
