:root {
  --color--main-yellow-01: #eab308;
  --color--bg-black-01: #222831;
  --color--bg-black-02: #393e46;
  --color--text-whie-01: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  text-align: center;
  font-size: 2rem;
}
