:root {
  --color--main-yellow-01: #eab308;
  --color--bg-black-01: #222831;
  --color--bg-black-02: #393e46;
  --color--bg-gray-01: #e2e2e2;
  --color--text-whie-01: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  list-style: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}

img {
  width: 100%;
  height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
